# Movie Recommmender System
##### It's TMDB 5000-movies dataset.

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [4]:
movies.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
4798,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]","[{""iso_3166_1"": ""MX"", ""name"": ""Mexico""}, {""iso...",1992-09-04,2040920,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238
4799,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],[],2011-12-26,0,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5
4800,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2013-10-13,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6
4801,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-05-03,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7
4802,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2005-08-05,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16

In [5]:
credits.tail()

,movie_id,title,cast,crew
4798,9367,El Mariachi,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4799,72766,Newlyweds,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4800,231617,"Signed, Sealed, Delivered","[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4801,126186,Shanghai Calling,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4802,25975,My Date with Drew,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

In [6]:
movies.shape

(4803, 20)

### Merge the both Tables

In [7]:
movies = movies.merge(credits,on='title')

In [8]:
movies.tail()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
4804,220000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9367,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",es,El Mariachi,El Mariachi just wants to play his guitar and ...,14.269792,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,81.0,"[{""iso_639_1"": ""es"", ""name"": ""Espa\u00f1ol""}]",Released,"He didn't come looking for trouble, but troubl...",El Mariachi,6.6,238,9367,"[{""cast_id"": 1, ""character"": ""El Mariachi"", ""c...","[{""credit_id"": ""52fe44eec3a36847f80b280b"", ""de..."
4805,9000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,72766,[],en,Newlyweds,A newlywed couple's honeymoon is upended by th...,0.642552,[],...,85.0,[],Released,A newlywed couple's honeymoon is upended by th...,Newlyweds,5.9,5,72766,"[{""cast_id"": 1, ""character"": ""Buzzy"", ""credit_...","[{""credit_id"": ""52fe487dc3a368484e0fb013"", ""de..."
4806,0,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.hallmarkchannel.com/signedsealeddel...,231617,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...",en,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic...",1.444476,"[{""name"": ""Front Street Pictures"", ""id"": 3958}...",...,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,"Signed, Sealed, Delivered",7.0,6,231617,"[{""cast_id"": 8, ""character"": ""Oliver O\u2019To...","[{""credit_id"": ""52fe4df3c3a36847f8275ecf"", ""de..."
4807,0,[],http://shanghaicalling.com/,126186,[],en,Shanghai Calling,When ambitious New York attorney Sam is sent t...,0.857008,[],...,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Yorker in Shanghai,Shanghai Calling,5.7,7,126186,"[{""cast_id"": 3, ""character"": ""Sam"", ""credit_id...","[{""credit_id"": ""52fe4ad9c3a368484e16a36b"", ""de..."
4808,0,"[{""id"": 99, ""name"": ""Documentary""}]",NaN,25975,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",en,My Date with Drew,Ever since the second grade when he first saw ...,1.929883,"[{""name"": ""rusty bear entertainment"", ""id"": 87...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,My Date with Drew,6.3,16,25975,"[{""cast_id"": 3, ""character"": ""Herself"", ""credi...","[{""credit_id"": ""58ce021b9251415a390165d9"", ""de..."

### Create New Dataset for model building

#### Requirment Columns:

    # Budget
    
    # Homepage
    
    # Id
    
    # Original_language
    
    # Original_title
    
    # Popularity
    
    # Production_comapny
    
    # Production_countries
    
    # Release-date(not sure)

In [9]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [10]:
# New Dataset

movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [11]:
import ast

In [12]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name']) 
    return L

In [13]:
movies.dropna(inplace=True)

In [14]:
movies['genres'] = movies['genres'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [15]:
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [16]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [17]:
def convert3(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
        counter+=1
    return L

In [18]:
movies['cast'] = movies['cast'].apply(convert)
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weave...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley, ...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux, R...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman, A...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton,...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [19]:
movies['cast'] = movies['cast'].apply(lambda x:x[0:3])

In [20]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
1094,10858,Nixon,An all-star cast powers this epic look at Amer...,"[History, Drama]","[usa president, presidential election, waterga...","[Anthony Hopkins, Joan Allen, Powers Boothe]","[{""credit_id"": ""52fe43c59251416c7501d705"", ""de..."
2066,164457,Out of the Furnace,Two brothers live in the economically-depresse...,"[Thriller, Drama, Crime]","[prison, brother brother relationship, drug de...","[Christian Bale, Zoe Saldana, Woody Harrelson]","[{""credit_id"": ""52fe4c7ac3a36847f82304c3"", ""de..."
1881,4518,Elizabeth,The story of the ascension to the throne and t...,"[Drama, History]","[duke, historical figure, treason, catholic, p...","[Cate Blanchett, Geoffrey Rush, Christopher Ec...","[{""credit_id"": ""52fe43c8c3a36847f806f27f"", ""de..."
90,5255,The Polar Express,When a doubting young boy takes an extraordina...,"[Adventure, Animation, Family, Fantasy]","[santa claus, nerd, faith, gift, bell, beard, ...","[Tom Hanks, Michael Jeter, Nona Gaye]","[{""credit_id"": ""52fe4400c3a36847f807c981"", ""de..."
1459,49478,Warriors of Virtue,"A young man, Ryan, suffering from a disability...","[Fantasy, Family, Action]","[american football, mythology, chinese food, k...","[Angus Macfadyen, Mario Yedidia, Marley Shelton]","[{""credit_id"": ""546a21b122136e68cf0038e6"", ""de..."

In [21]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [22]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [23]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
276,672,Harry Potter and the Chamber of Secrets,"Ignoring threats to his life, Harry returns to...","[Adventure, Fantasy, Family]","[flying car, witch, magic, cutting the cord, c...","[Daniel Radcliffe, Rupert Grint, Emma Watson]",[Chris Columbus]
1835,6977,No Country for Old Men,"Llewelyn Moss stumbles upon dead bodies, $2 mi...","[Crime, Drama, Thriller]","[texas, drug traffic, hitman, united states–me...","[Tommy Lee Jones, Javier Bardem, Josh Brolin]","[Joel Coen, Ethan Coen]"
2886,179144,The Great Beauty,Jep Gambardella has seduced his way through th...,"[Comedy, Drama]","[alcohol, rome, vatican, based on novel, birth...","[Toni Servillo, Carlo Verdone, Sabrina Ferilli]",[Paolo Sorrentino]
4030,20,My Life Without Me,A Pedro Almodovar production in which a fatall...,"[Drama, Romance]","[farewell, responsability, dying and death, ni...","[Sarah Polley, Amanda Plummer, Scott Speedman]",[Isabel Coixet]
1331,23168,The Town,"Doug MacRay is a longtime thief, who, smarter ...","[Crime, Drama, Thriller]","[based on novel, money laundering, ambulance, ...","[Ben Affleck, Rebecca Hall, Jeremy Renner]",[Ben Affleck]

In [24]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())

movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
3946,246403,Tusk,When his best friend and podcast co-host goes ...,"[Comedy, Horror]","[canada, obsession, walrus, deception, search,...","[Michael Parks, Justin Long, Haley Joel Osment]",[Kevin Smith]
4532,36825,The R.M.,Jared Phelps (Kirby Heyborne) has completed tw...,"[Comedy, Crime, Family]",[],[Kirby Heyborne],[Kurt Hale]
281,4982,American Gangster,Following the death of his employer and mentor...,"[Drama, Crime]","[underdog, black people, drug traffic, drug sm...","[Denzel Washington, Russell Crowe, Chiwetel Ej...",[Ridley Scott]
4673,77332,Urbania,Charlie takes an odyssey through grief during ...,"[Romance, Drama]",[],"[Dan Futterman, Matt Keeslar, Samuel Ball]",[Jon Matthews]
693,210577,Gone Girl,With his wife's disappearance having become th...,"[Mystery, Thriller, Drama]","[based on novel, marriage crisis, disappearanc...","[Ben Affleck, Rosamund Pike, Carrie Coon]",[David Fincher]

In [25]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [26]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [27]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew
2559,18405,The Last House on the Left,A group of teenage girls heading into the city...,"[Crime, Thriller, Horror, Drama]","[rape, whitetrash, revenge, murder, dysfunctio...","[GarretDillahunt, MichaelBowen, JoshuaCox]",[DennisIliadis]
1595,6439,Racing Stripes,Shattered illusions are hard to repair -- espe...,[Comedy],"[loveofanimals, horse, identitycrisis, farm, z...","[FrankieMuniz, MandyMoore, HaydenPanettiere]",[FrederikDuChau]
1056,926,Galaxy Quest,The stars of a 1970s sci-fi show - now scrapin...,"[Comedy, Family, ScienceFiction]","[spacebattle, spaceship, spoof, fictionaltvshow]","[TimAllen, SigourneyWeaver, AlanRickman]",[DeanParisot]
3913,284,The Apartment,Bud Baxter is a minor clerk in a huge New York...,"[Comedy, Drama, Romance]","[newyork, newyear'seve, lovesickness, agediffe...","[JackLemmon, ShirleyMacLaine, FredMacMurray]",[BillyWilder]
1247,11858,Renaissance Man,Danny DeVito plays an advertising man who is s...,"[Comedy, War]","[vietnamveteran, commercial, advertisingexpert...","[DannyDeVito, MarkWahlberg, GregoryHines]",[PennyMarshall]

In [28]:
movies['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: overview, Length: 4806, dtype: object

In [29]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [30]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [31]:
movies.sample(5)

,movie_id,title,overview,genres,keywords,cast,crew,tags
4523,14358,Mad Hot Ballroom,"[Eleven-year-old, New, York, City, public, sch...","[Documentary, Family]","[competition, documentary, dancecontest, ballr...",[],[MarilynAgrelo],"[Eleven-year-old, New, York, City, public, sch..."
3730,17663,Anne of Green Gables,"[At, the, turn, of, the, century, on, Prince, ...","[Drama, Family]","[basedonnovel, brothersisterrelationship, cana...","[MeganFollows, ColleenDewhurst, RichardFarnswo...",[KevinSullivan],"[At, the, turn, of, the, century, on, Prince, ..."
1066,768,From Hell,"[Frederick, Abberline, is, an, opium-huffing, ...","[Horror, Mystery, Thriller]","[lossoffamily, drugaddiction, jacktheripper]","[JohnnyDepp, HeatherGraham, IanHolm]","[AlbertHughes, AllenHughes]","[Frederick, Abberline, is, an, opium-huffing, ..."
771,10052,Dragonfly,"[A, grieving, doctor, is, being, contacted, by...",[Drama],"[pregnancyandbirth, voice, dragonfly, carcrash...","[KevinCostner, JoeMorton, RonRifkin]",[TomShadyac],"[A, grieving, doctor, is, being, contacted, by..."
2415,948,Halloween,"[In, John, Carpenter's, horror, classic,, a, p...","[Horror, Thriller]","[femalenudity, nudity, mask, babysitter, hallo...","[DonaldPleasence, JamieLeeCurtis, P.J.Soles]",[JohnCarpenter],"[In, John, Carpenter's, horror, classic,, a, p..."

In [32]:
new = movies.drop(columns=['overview','genres','keywords','cast','crew'])

In [33]:
new

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [34]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

## Now ready for the Model Building

#### In model building we have create a vectorization for the 5000 movies. It means our data convert "TABULER FORMATE" to "VECTOR FORMATE". like this [1,0,0,1..........1]

1. Our data preview is "NEW".
2. Now convert our data from tabluer to vector formate. This process called is Vectorization.

In [35]:
new

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4806,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4808,25975,My Date with Drew,Ever since the second grade when he first saw ...

#### Import Vectorization libary "CountVectorizer"

In [36]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [37]:
vector = cv.fit_transform(new['tags']).toarray()

### Vector shape [1,1,1.......1]

In [38]:
vector.shape

(4806, 5000)

### After vectorization we have find out the similerity for similer vector.
for example:  V1:[1,1,0,1,0......1] & V2:[0,1,1,0.....0]  


#### What's the similerity of vector V1 & V2?

#### Now we have use the cosine method.

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
similarity = cosine_similarity(vector)

### Similarity

In [41]:
similarity

array([[1.        , 0.08964215, 0.06071767, ..., 0.02519763, 0.0277885 ,
        0.        ],
       [0.08964215, 1.        , 0.06350006, ..., 0.02635231, 0.        ,
        0.        ],
       [0.06071767, 0.06350006, 1.        , ..., 0.02677398, 0.        ,
        0.        ],
       ...,
       [0.02519763, 0.02635231, 0.02677398, ..., 1.        , 0.07352146,
        0.04774099],
       [0.0277885 , 0.        , 0.        , ..., 0.07352146, 1.        ,
        0.05264981],
       [0.        , 0.        , 0.        , ..., 0.04774099, 0.05264981,
        1.        ]])

In [42]:
new[new['title'] == 'The Lego Movie'].index[0]

744

### Create Recommender function

In [43]:
def recommend(movie):
    index = new[new['title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].title)

In [44]:
recommend('Hamlet')

Henry V
Divine Secrets of the Ya-Ya Sisterhood
Under the Same Moon
Little Boy
Departure

In [45]:
new.sample(20)

,movie_id,title,tags
2011,13579,The Longshots,"The true story of Jasmine Plummer who, at the ..."
157,147441,Exodus: Gods and Kings,The defiant leader Moses rises up against the ...
3990,10476,Hustle & Flow,"With help from his friends, a Memphis pimp in ..."
277,36557,Casino Royale,"Le Chiffre, a banker to the world's terrorists..."
1167,4234,Scream 3,"A murdering spree begins to happen again, this..."
2801,26688,Sorority Row,When five sorority girls inadvertently cause t...
2307,50725,Take Me Home Tonight,Recent MIT grad Matt Franklin (Topher Grace) s...
4494,376004,Adulterers,A man who returns home to find his wife cheati...
4302,14295,You Can Count on Me,A single mother's life is thrown into turmoil ...
1352,31908,Ghosts of Mississippi,Ghosts of Mississippi is a drama covering the ...
4646,76996,Love and Other Catastrophes,A day in the life of two film-school students ...
3841,573,Frenzy,A serial murderer is strangling women with a n...
4578,15389,Metropolitan,A sparkling comedic chronicle of a middle-clas...
282,36955,True Lies,Harry Tasker is a secret agent for the United ...
1934,64639,Straw Dogs,L.A. screenwriter David Sumner relocates with ...
1408,11469,Black Knight,"Martin Lawrence plays Jamal, an employee in Me..."
3795,242575,"Guten Tag, Ramón",After five failed attempts to go to the United...
4123,13121,Teeth,Dawn is an active member of her high-school ch...
653,59962,This Means War,Two top CIA operatives wage an epic battle aga...
2155,6933,One Missed Call,Several people start receiving voice-mails fro...

In [50]:
new.iloc[1354].title

'The Rite'

In [51]:
import pickle

In [52]:
pickle.dump(new,open('movies.pkl','wb'))

In [54]:
new['title'].values

array(['Avatar', "Pirates of the Caribbean: At World's End", 'Spectre',
       ..., 'Signed, Sealed, Delivered', 'Shanghai Calling',
       'My Date with Drew'], dtype=object)

In [55]:
pickle.dump(similarity,open('similarity.pkl','wb'))